*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  padding-bottom: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
}

p {
  color: black;
}

.media img,
.media video {
  display: block;
  width: 100%;
}

/* Flex */

.flex {
  display: flex;
  padding: 0 24px;
}

.flex .main {
  width: 60%;
  padding: 32px 24px 32px 0;
  border-right: 1px solid #f5f5f5;
}

.flex .plus {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 32px 0;
}

/* Image */

.image {
  display: flex;
  padding: 16px 0 16px 16px;
  border-bottom: 1px solid #f5f5f5;
}

.image:first-child {
  padding-top: 0;
}

.image:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.image .media {
  width: 35%;
}

.image .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 12px 0 16px;
}

.image h4 {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

.image p {
  padding-bottom: 8px;
}

.image a {
  color: #37dedb;
}

.image .mob {
  display: none;
}


@media only screen and (max-width: 768px) {
  .image .dtop {
    display: none;
  }

  .image .mob {
    display: block;
  }

  .image {
    padding-left: 0;
    border-bottom: none;
  }

  .image .media {
    width: 100%;
  }
}

/* Header */

header {
  padding: 16px 24px;
}

header .dtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header .logo img {
  margin-right: 8px;
}

header li {
  display: inline;
  padding-right: 16px;
}

header li:last-child {
  padding-right: 0;
}

header .mob {
  display: none;
}

@media only screen and (max-width: 768px) {
  header .dtop {
    display: none;
  }

  header .mob {
    display: block;
    width: 100%;
  }

  header .mob ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    justify-content: center;
  }

  .logo span {
    display: none;
  }

  nav {
    display: none;
  }
}

/* Banner */

#banner {
  background-color: #dbdbdb;
}

#banner .main {
  border-right: none;
}

#banner .plus{
  justify-content: center;
}

#banner h3 {
  padding-bottom: 32px;
  font-size: 32px;
}

#banner p {
  padding-bottom: 24px;
}

#banner a {
  padding: 8px 0;
  background-color: #9b9b9b;
  text-align: center;
  color: white;
}

#banner a:hover {
  background-color: #707070;
}

@media only screen and (max-width: 768px) {
  #banner {
    flex-direction: column;
    padding: 0;
  }

  #banner .main {
    width: auto;
    padding: 0;
  }

  #banner .plus {
    width: auto;
    padding: 32px 16px;
  }
}

/* Articles */

#info .main h3 {
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 24px;
}

#info .plus {
  justify-content: space-between;
}

div.image:hover {
  background-color: #cac4c4;
} 

@media only screen and (max-width: 768px) {
  #info .flex {
    padding: 0 16px;
  }

  #info .main {
    display: none;
  }

  #info .plus {
    width: 100%;
  }

  #info .plus .image {
    flex-direction: column;
  }
  
  #info .text {
    max-width: 224px;
    padding: 16px;
  }
}

/* Courses */

#courses {
  padding: 32px 56px;
  background-color: #f5f5f5;
}

.row {
  display: flex;
}

.course {
  flex-basis: 33%;
  margin: 16px;
  background-color: white;
}

.course .text {
  padding: 16px 16px 24px 16px;
}

.course h3,
.course h4 {
  padding-bottom: 8px;
  color:black;
}

@media only screen and (max-width: 768px) {
  #courses {
    padding: 32px 16px;
  }

  .row {
    flex-direction: column;
  }

  .course {
    margin: 4px 0;
  }

  .course .text {
    background-color: #d8d8d8;
  }

  .course h3 {
    padding-bottom: 0;
  }

  .course .media,
  .course h4,
  .course p {
    display: none;
  }
}

.text:hover {
  background-color: none;
} 

/* Thesis */

#thesis {
  padding: 32px 0;
}

#thesis .main {
  padding-bottom: 0;
}

#thesis h3 {
  padding: 8px 0;
}

@media only screen and (max-width: 768px) {
  #thesis .main h3,
  #thesis .main p,
  #thesis .plus {
    display: none;
  }

  #thesis {
    padding-bottom: 24px;
  }

  #thesis .flex {
    padding: 0;
  }

  #thesis .main {
    width: 100%;
    padding: 0;
    margin-right: 0;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  font-size: 12px;
  color: #707070;
  border-top:  1px solid #d8d8d8;
}

footer div {
  margin-right: 12px;
  color: black;
}

footer a {
  padding-right: 5px;
}

@media only screen and (max-width: 768px) {
  footer a {
    display: none;
  }
}